@tailwind base;
@tailwind components;
@tailwind utilities;


.scrolling{
    height: 80vh;
    overflow-y: scroll;
}

.scrollbar
{
	margin-left: 30px;
	float: left;
	height: 300px;
	width: 65px;
	background: #F5F5F5;
	overflow-y: scroll;
	margin-bottom: 25px;
}
.bg-green{
	background-color: rgb(157, 219, 157);
}
.backgroungimg{
	background-image: url('../public/bg.avif');
	object-fit: cover;
	
}

