@tailwind base;
@tailwind components;
@tailwind utilities;


.scrolling{
    height: 80vh;
    overflow-y: scroll;
}

.scrollbar
{
	margin-left: 30px;
	float: left;
	height: 300px;
	width: 65px;
	background: #F5F5F5;
	overflow-y: scroll;
	margin-bottom: 25px;
}
.bg-green{
	background-color: rgb(157, 219, 157);
}
.backgroungimg{
	background-image: url('../public/bg.avif');
	object-fit: cover;
	
}
/* Styles for the responsive navbar */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo img {
  height: 40px;
}

.navbar-menu {
  list-style: none;
  display: flex;
}

.navbar-menu li {
  margin-right: 20px;
}

.navbar-menu a {
  text-decoration: none;
  color: #fff;
}

.navbar-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 30px;
  height: 3px;
  background-color: #fff;
  margin: 3px 0;
}

